.App-header {
  text-align: center;
  color: #D88E18;
  background-color: black;
  padding: .01em 0em .01em 0em;
}

.App {
  background-color: #D88E18;
}
.FighterBackground {
  width: 100%;
  height: auto;
}

.card {
  box-shadow: 0 1px 2px darkgrey, 0 0 0 2px darkgray;
  background-color: black;
  color: white;
  margin: 0.6em;
  margin-bottom: 0em;
  padding: 0.75em;
}

p {
  font-size: .8em;
  margin-bottom: 2em;
}

.cardImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.cardTitle {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.categoryImages {
  display: flex;
  flex-direction: column;
}

footer {
  text-align: center;
  padding-bottom: .5em;
}

@media (min-width: 45em) {
  .categoryImages {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    max-width: 44%;
  }

  .FighterBackground {
    width: 60%;
  }
}