.App-header {
  text-align: center;
  color: #D88E18;
  background-color: black;
  padding: .01em 0em .01em 0em;
}

.App {
  background-color: white;
}

.FighterBackground {
  width: 100%;
  height: auto;
}

.imagesList,
.card {
  box-shadow: 0 1px 2px darkgrey, 0 0 0 2px darkgray;
  background-color: black;
  color: white;
  text-align: center;
  margin: 2em;
  padding: 2em;
}

p {
  font-size: .8em;
  margin-bottom: 2em;
}

.cardImages {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  width: 80%;
}

.cardTitle {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.categoryImages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  text-align: center;
  padding-bottom: .5em;
}

.productList{
  padding: 1em;
}

.imagesList {
  text-align: center;
}

h1 {
  padding: 1em;
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  padding-top: 1em;
  text-align: center;
}

.detailTextBox {
  text-align: justify;
  margin: 2em 2em 1em 2em;
}

a {
  text-decoration-line: none;
  color: white;
}

.featuredProducts {
  text-align: center;
}

.featuredImages {
  margin: .2em 0em 1em 0em;
  width: 40%;
}

.featuredTitle {
  margin-top: 0em;
  margin-bottom: -.2em;
}

.featuredPrice {
  margin-top: -1.2em;
  margin-bottom: 2em;
}

@media (min-width: 45em) {
  .categoryImages {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    max-width: 30%;
  }

  .FighterBackground {
    width: 60%;
  }

  .listImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .imagesList {
    max-width: 30%;
  }

  .cardTitle {
    font-size: 1.8em;
  }

  p {
    font-size: 1em;
  }

  .cardImages {
    margin-bottom: 2em;
    width: 60%;
  }

  .detailTextBox {
    margin: 4em;
  }
}